<!DOCTYPE html>
html(lang="en")
    head
       
        title List page
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")  
    body
        header.card-header
            h4.card-title Registerd Users
        table.table
            thead.thead-dark
                tr
                    th firstname
                    th lastname
                    th email
                    th gender
                    th city
                    th country
                    
                tbody            
                   
                        tr
                            td #{firstname} 
                            td #{lastname}
                            td #{email}
                            td #{gender}
                            td #{city}
                            td #{country}
                            